In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
np.__version__

'2.3.1'

In [6]:
pd.__version__

'2.3.1'

In [7]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [8]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
num_record =len(df)

In [10]:
print(f'The data set contains { num_record } records.')

The data set contains 9704 records.

In [11]:
fuel_types=df['fuel_type'].unique()

In [12]:
print(f'{fuel_types } fuel types are presented in the data set, ')

['Gasoline' 'Diesel'] fuel types are presented in the data set,

In [13]:
num_fuel_types = len(fuel_types)

In [14]:
print(num_fuel_types)

2

In [15]:
missing_values=df.isnull().sum()

In [16]:
columns_with_missing_value=(missing_values>0).sum()

In [17]:
print(columns_with_missing_value)

4

In [18]:
fuel_efficiency_column = 'fuel_efficiency_mpg'
origin_column = 'origin'

In [19]:
asian_cars = df[df[origin_column] == 'Asia']

In [20]:
if asian_cars.empty:
    print("No cars from Asia found in the dataset.")
else:
    # Find the maximum fuel efficiency among Asian cars
    max_fuel_efficiency_asian = asian_cars[fuel_efficiency_column].max()

In [21]:
print(f"The maximum fuel efficiency of cars from Asia is: {max_fuel_efficiency_asian}")

The maximum fuel efficiency of cars from Asia is: 23.759122836520497

In [22]:
median_horsepower=df['horsepower'].median()

In [23]:
print(f'The median of the horsepower column is { median_horsepower },')

The median of the horsepower column is 149.0,

In [24]:
mode_horsepower=df['horsepower'].mode()

In [25]:
print(f'The mode of the horsepower column is { mode_horsepower },')

The mode of the horsepower column is 0    152.0
Name: horsepower, dtype: float64,

In [26]:
horsepower_column = 'horsepower'

In [27]:
most_frequent_horsepower = df[horsepower_column].mode()[0]

In [28]:
df.loc[:, horsepower_column] = df[horsepower_column].fillna(most_frequent_horsepower)

In [29]:
print(df[horsepower_column].isnull().sum())

0

In [30]:
median_horsepower=df['horsepower'].median()

In [31]:
print(f'The median horsepower has increased to { median_horsepower },')

The median horsepower has increased to 152.0,

In [32]:
#  Yes, it increased

In [33]:
print(asian_cars.head())

    engine_displacement  num_cylinders  horsepower  vehicle_weight  \
8                   250            1.0       174.0     2714.219310
12                  320            5.0       145.0     2783.868974
14                  200            6.0       160.0     3582.687368
20                  150            3.0       197.0     2231.808142
21                  160            4.0       133.0     2659.431451

    acceleration  model_year origin fuel_type         drivetrain  num_doors  \
8           10.3        2016   Asia    Diesel  Front-wheel drive       -1.0
12          15.1        2010   Asia    Diesel    All-wheel drive        1.0
14          14.9        2007   Asia    Diesel    All-wheel drive        0.0
20          18.7        2011   Asia  Gasoline  Front-wheel drive        1.0
21           NaN        2016   Asia  Gasoline  Front-wheel drive       -1.0

    fuel_efficiency_mpg
8             16.823554
12            16.175820
14            11.871091
20            18.889083
21            16.077730

In [34]:
vehicle_weight_column = 'vehicle_weight'
model_year_column = 'model_year'

In [35]:
selected_columns = df[[vehicle_weight_column, model_year_column]]

In [36]:
print(selected_columns)

      vehicle_weight  model_year
0        3413.433759        2003
1        3149.664934        2007
2        3079.038997        2018
3        2542.392402        2009
4        3460.870990        2009
...              ...         ...
9699     2981.107371        2013
9700     2439.525729        2004
9701     2583.471318        2008
9702     2905.527390        2011
9703     2908.043477        2005

[9704 rows x 2 columns]

In [37]:
first_7_rows = df.head(7)

In [38]:
print(first_7_rows)

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0       152.0     2542.392402
4                  210            1.0       140.0     3460.870990
5                  190            3.0       152.0     2484.883986
6                  240            7.0       127.0     3006.542287

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0
5          14.7        2008  Europe  Gasoline    All-wheel drive       -1.0
6          22.2        2012     USA  Gasoline  Front-wheel drive        1.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369
5            17.271818
6            13.210412

In [49]:
potential_numeric_cols = df.columns  # Assuming all cols *should* be numeric. Adjust as needed

# Convert potential numeric columns to numeric, coercing errors to NaN
for col in potential_numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Impute missing values (NaN) with the mean of each column
df = df.fillna(df.mean())  # Use df.median() or df.mode()[0] if appropriate


# Now get the underlying NumPy array
X = df.values

In [39]:
X = df.values

In [50]:
print(X)

[[170.           3.         159.         ...          nan   0.
   13.23172891]
 [130.           5.          97.         ...          nan   0.
   13.68821744]
 [170.           3.96248102  78.         ...          nan   0.
   14.246341  ]
 ...
 [220.           2.         138.         ...          nan  -1.
   17.18658678]
 [230.           4.         177.         ...          nan   1.
   15.33155059]
 [270.           3.         140.         ...          nan  -1.
   14.8844674 ]]

In [ ]:
print(f"Shape of X: {X.shape}")

In [55]:
if np.isnan(X).any():
    print("Warning: NaN values still present in X after imputation. Check your data.")

Warning: NaN values still present in X after imputation. Check your data.

In [56]:
XT = X.T

In [57]:
print(f"Shape of XT: {XT.shape}")

Shape of XT: (11, 9704)

In [58]:
XTX = np.matmul(XT, X)

In [54]:
print(XTX)

[[ 4.10760700e+08  7.65884952e+06  2.90168730e+08  5.81647387e+09
   2.90983338e+07  3.89820956e+09             nan             nan
              nan -1.66680233e+04  2.90423444e+07]
 [ 7.65884952e+06  1.89224005e+05  5.76751116e+06  1.15477123e+08
   5.77281494e+05  7.73471604e+07             nan             nan
              nan -1.05454141e+02  5.75878462e+05]
 [ 2.90168730e+08  5.76751116e+06  2.25874415e+08  4.36320703e+09
   2.18389635e+07  2.92459614e+09             nan             nan
              nan -1.16148425e+04  2.18715153e+07]
 [ 5.81647387e+09  1.15477123e+08  4.36320703e+09  8.98159673e+10
   4.37745091e+08  5.85831378e+10             nan             nan
              nan -2.24356316e+05  4.24372782e+08]
 [ 2.90983338e+07  5.77281494e+05  2.18389635e+07  4.37745091e+08
   2.24507419e+06  2.93220643e+08             nan             nan
              nan -8.94904793e+02  2.17767219e+06]
 [ 3.89820956e+09  7.73471604e+07  2.92459614e+09  5.85831378e+10
   2.93220643e+08  3.92634741e+10             nan             nan
              nan -1.25246420e+05  2.92505007e+08]
 [            nan             nan             nan             nan
              nan             nan             nan             nan
              nan             nan             nan]
 [            nan             nan             nan             nan
              nan             nan             nan             nan
              nan             nan             nan]
 [            nan             nan             nan             nan
              nan             nan             nan             nan
              nan             nan             nan]
 [-1.66680233e+04 -1.05454141e+02 -1.16148425e+04 -2.24356316e+05
  -8.94904793e+02 -1.25246420e+05             nan             nan
              nan  1.01090206e+04 -6.63066856e+02]
 [ 2.90423444e+07  5.75878462e+05  2.18715153e+07  4.24372782e+08
   2.17767219e+06  2.92505007e+08             nan             nan
              nan -6.63066856e+02  2.24252034e+06]]

In [59]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Print the array to verify
print(y)

[1100 1300  800  900 1000 1100 1200]

In [63]:
X = df.values

# Compute the transpose of X
XT = X.T

# Compute the matrix-matrix multiplication between X.T and X
XTX = np.matmul(XT, X)

# Create the array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Check if XTX is invertible
if np.linalg.det(XTX) == 0:
    print("Error: XTX is not invertible (singular matrix).")
else:
    # Compute the inverse of XTX
    XTX_inv = np.linalg.inv(XTX)

    # Multiply the inverse of XTX with the transpose of X
    XTX_inv_XT = np.matmul(XTX_inv, XT)


    # CRUCIAL: Print shapes right before the multiplication
    print(f"Shape of XTX_inv_XT: {XTX_inv_XT.shape}")
    print(f"Shape of y: {y.shape}")


    # Multiply the result by y
    w = np.matmul(XTX_inv_XT, y)

    # Print the resulting array w
    print(w)

Shape of XTX_inv_XT: (11, 9704)
Shape of y: (7,)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 7 is different from 9704)