In [1]:
import pandas as pd

In [16]:
pd.__version__

'2.3.1'

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [14]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [17]:
num_record =len(df)

In [25]:
print(f'The data set contains { num_record } records.')

The data set contains 9704 records.

In [27]:
fuel_types=df['fuel_type'].unique()

In [28]:
print(f'{fuel_types } fuel types are presented in the data set, ')

['Gasoline' 'Diesel'] fuel types are presented in the data set

In [32]:
num_fuel_types = len(fuel_types)

In [35]:
print(num_fuel_types)

2

In [36]:
missing_values=df.isnull().sum()

In [37]:
columns_with_missing_value=(missing_values>0).sum()

In [38]:
print(columns_with_missing_value)

4

In [43]:
fuel_efficiency_column = 'fuel_efficiency_mpg'
origin_column = 'origin'

In [45]:
asian_cars = df[df[origin_column] == 'Asia']

In [46]:
if asian_cars.empty:
    print("No cars from Asia found in the dataset.")
else:
    # Find the maximum fuel efficiency among Asian cars
    max_fuel_efficiency_asian = asian_cars[fuel_efficiency_column].max()

In [47]:
print(f"The maximum fuel efficiency of cars from Asia is: {max_fuel_efficiency_asian}")

The maximum fuel efficiency of cars from Asia is: 23.759122836520497

In [48]:
median_horsepower=df['horsepower'].median()

In [49]:
print(f'The median of the horsepower column is { median_horsepower },')

The median of the horsepower column is 149.0,

In [51]:
mode_horsepower=df['horsepower'].mode()

In [52]:
print(f'The mode of the horsepower column is { mode_horsepower },')

The mode of the horsepower column is 0    152.0
Name: horsepower, dtype: float64,